<a href="https://colab.research.google.com/github/abhishekmishra-bareilly/Machine-learning/blob/main/Imbalanced_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imbalanced dataset using credit card dataset

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Load the data
credit_card_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Machine Learning/Learn from outside/type 1/Copy of credit_data.csv')

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

**So this is very imbalanced dataset**

**columns discription**

Time--> How much time taken for the transtion

Amount--> How much amount transfferd us doller

Class--> 
          
         0 - ligil transtion
         1 - froud transtion

In [6]:
ligil= credit_card_data[credit_card_data.Class==0]
froud = credit_card_data[credit_card_data.Class==1]

In [7]:
ligil.shape

(284315, 31)

In [8]:
froud.shape

(492, 31)

**Using under sampling for Imbalanced dataset**

In [9]:
ligil_sampling = ligil.sample(n = 492)

In [11]:
print(ligil_sampling.shape)

(492, 31)

**Now we are going to concat both data "ligil_sampling", "froud"**

In [13]:
new_dataset = pd.concat((ligil_sampling,froud),axis = 0)
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
44768,42075.0,-0.467627,0.977701,1.662258,-0.096938,-0.156388,-0.694231,0.587371,0.088911,-0.610715,...,-0.167356,-0.476307,-0.003673,0.505574,-0.264582,0.042390,0.259123,0.111986,3.67,0
32441,36804.0,-1.037970,1.856166,-0.026976,1.095261,-0.077292,-0.662270,0.011123,0.822848,-0.874017,...,0.197732,0.327996,-0.059322,-0.052580,-0.324271,-0.310367,-0.180917,0.059534,1.00,0
219144,141617.0,0.058321,0.519793,-1.761904,-1.855675,3.152164,3.224399,0.503771,0.792759,-0.160978,...,0.454420,1.522483,-0.193588,0.814081,-0.677589,0.823471,0.447319,0.296755,2.17,0
279505,168914.0,-1.052856,1.333571,0.479569,-1.325223,0.738224,-0.803222,1.060990,0.318713,-0.952528,...,-0.078704,-0.497285,-0.445669,-0.452762,0.888840,-0.444032,-0.152799,-0.038116,2.00,0
42205,40996.0,1.072366,-1.179521,-1.714608,-1.409752,1.461832,3.245431,-0.783763,0.750157,-0.783790,...,-0.017127,-0.612524,-0.216692,0.939838,0.566370,-0.306455,-0.011802,0.064837,204.49,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [14]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64